<%= form_with(model: bookmark, local: true) do |form| %>
  <% if bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmark.errors.count, "erreur") %> ont empêché ce signet d'être enregistré :</h2>
      <ul>
        <% bookmark.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>
  <!-- Ajoutez ici les champs pour la relation avec les listes et les films -->
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
